<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp3.cloud.activiti.dao.ApprovalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cp3.cloud.flowable.entity.Approval">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="business_id" jdbcType="BIGINT" property="businessId"/>
        <result column="business_type" jdbcType="VARCHAR" property="businessType"/>
        <result column="handler" jdbcType="VARCHAR" property="handler"/>
        <result column="proc_inst_id" jdbcType="VARCHAR" property="procInstId"/>
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="approval_state" jdbcType="TINYINT" property="approvalState"/>
        <result column="approval_context" jdbcType="VARCHAR" property="approvalContext"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,created_by,update_time,updated_by,
        business_id, business_type, handler, proc_inst_id, task_id, approval_state, approval_context
    </sql>

</mapper>
